<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<style></style>
<head>
    <meta charset="UTF-8">
    <title>Make Vue Core</title>
    <script src="/javaScript/reactivity.js"></script>
</head>
<script>
    const test = ref(10);
    console.log(test.value);

    let total2 = 0;
    effect(() => {
        total2 = test.value * 10;
    })
    console.log(total2);
    test.value = 100;
    console.log(total2);

    // 반응형 테스트를 위한 setNumber함수
    function setNumber(){
        test.value = document.getElementById("input_number").value;
        console.log(total2);
    }
</script>
<body>
    <h1>나와라</h1>
    <label>
        <input id="input_number" type="text" oninput="setNumber()"/>
    </label>
</body>
</html>